/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 1em;
}

h1 {
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2980b9;
}
.centrar{
    text-align: center;
}
/* Form Styles */
form {
    background: #ffffff;
    padding: 2em;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, select, button {
    width: 100%;
    padding: 0.8em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
}

input:focus, select:focus, button:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Results Section */
#resultados {
    margin: 2em auto;
    padding: 1em;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

#resultados p {
    margin: 0.5em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    form, #resultados {
        padding: 1em;
    }

    input, select, button {
        font-size: 0.9em;
    }
}

/* Estilos para los resultados */
#resultados ul {
    list-style: none;
    padding: 0;
}

#resultados li {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#resultados li strong {
    color: #2c3e50;
}